<h1>List du rapport</h1> <hr>
<p>
    vous pouvez acceder au details d'un rapport par un <strong>double-clique</strong> sur la ligne du rapport ou par clique droit
    puis selectioner <strong>details</strong> , vous pauvez aussi suprimer un rapport soit par une clique droit puis selctioner 
    <strong>delete</strong>.
</p> 
<p-tabView >
    <p-tabPanel header="Raports" leftIcon="fa-bell-o">
        <rapport></rapport>   
    </p-tabPanel>
    <p-tabPanel header="Add Rapport" leftIcon="fa-bell-o">
       <add-rapport></add-rapport>
    </p-tabPanel>
</p-tabView>